</div>
<script src="//connect.soundcloud.com/sdk.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-logger/angular-logger.js"></script>
<script src="bower_components/query-string/query-string.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/directives/scPlayer.js"></script>
<script src="js/controllers/playerController.js"></script>
</body>
</html>
