@import "components/vars.scss";
@import "components/base.scss";
@import "components/sc-player.scss";

%text-uppercase {
	text-transform: uppercase;
}
%reset-margin-padding {
	margin: 0;
	padding: 0;
}



h1 {
	text-align: center;
	font-size: 23px;
	margin: 0 0 20px;
	padding: 0 0 20px;
	border-bottom: 1px solid $light-purple;

	@extend %text-uppercase;
}

input,
button {
	display: inline-block;
	vertical-align: middle;
}

input {
	border: 1px solid darken($purple, 20%);
	border-radius: $border-radius;
	padding: 15px;
	@extend %text-uppercase;
	width: 90%;
	box-shadow: 2px 2px 0 lighten($purple, 20%);
}

button {
	cursor: pointer;
	background: transparent;
	border: none;
	border-radius: $border-radius;
	font-size: 30px;
	border: 1px solid darken($purple, 20%);
	color: $white;
	@extend %reset-margin-padding;
}

ul {
	list-style: none;
	@extend %reset-margin-padding;
}

.container {
	width: 100%;
	max-width: 700px;
	margin: 40px auto;
}
