@import "components/vars.scss";
@import "components/utilities.scss";
@import "components/base.scss";
@import "components/form.scss";
@import "components/list.scss";
@import "components/type.scss";
@import "components/audio.scss";
@import "components/sc-player.scss";

.container {
	width: 100%;
	max-width: 700px;
	margin: 40px auto;
	padding: 0 20px;
}
