input,
button {
	display: inline-block;
	vertical-align: middle;
	border-radius: $border-radius;
}

input {
	width: 100%;
	@extend %reset-margin;
	padding: 15px;
	@extend %text-uppercase;
	border: 1px solid darken($purple, 10%);
	box-shadow: 2px 2px 0 lighten($purple, 20%);
}

button {
	position: absolute;
	top: 0;
	right: 0;

	height: 100%;
	@extend %reset-margin;
	padding: 0 15px;
	background: transparent;
	border: 1px solid transparent;

	cursor: pointer;
	font-size: 22px;
	color: $purple;

	transition: background .1s ease-in-out, color .1s ease-in-out;

	&:hover {
		background: $purple;
		color: $white;
	}
}
