input,
button {
	display: inline-block;
	vertical-align: middle;

	border: 1px solid darken($purple, 10%);
	border-radius: $border-radius;
}

input {
	padding: 15px;
	margin: 0;
	width: 100%;
	box-shadow: 2px 2px 0 lighten($purple, 20%);
	@extend %text-uppercase;
}

button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 15px;
	height: 100%;
	cursor: pointer;
	background: transparent;
	border: none;
	font-size: 22px;
	color: $purple;
	@extend %reset-margin-padding;
	border: 1px solid transparent;
	transition: background .1s ease-in-out, color .1s ease-in-out;

	&:hover {
		background: $purple;
		color: $white;
	}
}
