ul {
	list-style: none;
	@extend %reset-margin-padding;
}

li {
	position: relative;
	margin: 0 0 4px 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

	&.active {

		color: $light-purple;

		&:before {
			position: absolute;
			left: -25px;

			content: "\f028";
			font-family: FontAwesome;
		}
	}
}
