<% include ../partials/head %>

<div class="sc-player" ng-controller="playerController">
	<h1>SEARCH & STREAM</h1>
	<div class="sc-player__form">
		<form name="searchForm" ng-submit="submitForm()">
			<input type="text" class="sc-player__input" placeholder="Search A Category" ng-model="searchQuery" ng-disabled="formSubmitted === true && formSuccess === false">
			<button type="submit" class="sc-player__btn" ng-disabled="formSubmitted === true && formSuccess === false"><i class="fa fa-play"></i></button>
		</form>
	</div>

	<div class="sc-player__player">
		<audio autoplay preload controls></audio>
	</div>

	<div class="sc-player__status">
		<p ng-show="formSubmitted === true && formSuccess === false" ng-cloak>
			<i class="fa fa-spin fa-circle-o-notch"></i>
			Now Loading Your Playlist
		</p>
		<p ng-show="formError === true" ng-cloak>
			<i class="fa fa-exclamation-triangle"></i><br>
			Whoah. Something Went Wrong.
			{{status}}
		</p>
	</div>

	<div class="sc-player__playlist" ng-show="formSuccess === true" ng-cloak>
		<h2>Your Playlist:</h2>
		<ul>
			<li ng-class="{ active: $index === currentIndex }" ng-repeat="track in trackList">
				{{track.title}}
			</li>
		</ul>
	</div>
</div>

<% include ../partials/foot %>
