<% include ../partials/head %>

<div class="sc-player" ng-controller="playerController">
	<h1>SEARCH & STREAM</h1>
	<div class="sc-player__form">
		<form name="searchForm" ng-submit="submitForm()" ng-cloak>
			<input type="text" class="input" placeholder="Search A Category" ng-model="searchQuery" ng-disabled="formSubmitted === true && formSuccess === false">
			<button type="submit" class="btn" ng-disabled="formSubmitted === true && formSuccess === false"><i class="fa fa-play"></i></button>
		</form>
	</div>

	<div class="sc-player__status">
		<p ng-show="formSubmitted === true && formSuccess === false">
			Now Loading Your Playlist: <i class="fa fa-spin fa-circle-o-notch fa-3x"></i>
		</p>
		<p ng-show="formError === true">
			Oops. Something Went Wrong. <i class="fa fa-exclamation-triangle fa-3x"></i>
		</p>
	</div>

	<div class="sc-player__playlist" ng-show="formSuccess === true" ng-cloak>
		<h2>Your Playlist:</h2>
		<ul>
			<li ng-repeat="track in trackList">
				<a ng-href="{{track.uri}}">{{track.title}}</a>
			</li>
		</ul>
	</div>

<% include ../partials/foot %>
